body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
   
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

li:hover {
    background-color: #f0f0f0;
}
.deleteTask {
    position: absolute; 
    padding: 5px 10px;   
    top: 5px; /* Adjust for top positioning */
    right: 7px; /* Adjust for right positioning */
    bottom: 3px;
    background-color: #ff6347; /* Red color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;       
}
.deleteTask:hover {
    background-color: #cc0000; /* Darker red color */
}